<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="./semantic.min.css">
  <script src="./jquery.slim.min.js"></script>
  <script src="./semantic.min.js"></script>
  <script src="./long.min.js"></script>
  <script src="./vue.js"></script>
  <script src="./bytebuffer.min.js"></script>
  <script src="./protobuf.min.js"></script>
  <script src="./studioapi.js"></script>
  <script src="./vue.expand.js"></script>
  <script src="./vue.component-card.js"></script>
  <script src="./vue.app-card.js"></script>
  <script src="./model.js" defer></script>
</head>

<body>

  <div id="vueapp">

    <div class="ui grid container">

      <div class="ui top fixed menu">
        <div class="item">
          <img src="./images/cdpstudio.png">
        </div>
        <div class="item">
          <div class="ui big breadcrumb">
            <a class="section">System</a>
            <i class="right chevron icon divider"></i>
            <a class="active section">{{name}}</a>
          </div>
        </div>
        <div class="item">About this Demo</div>
      </div>

      <div style="height:128px"></div>
      <div class="sixteen wide column">
        <div class="ui four stackable cards">
          <app-card :appname="name" :description="description" :cpuload="cpuload" timeelapsed="6749"></app-card>
        </div>
      </div>
      <div class="row">
      <h4 class="ui horizontal divider header">
        <i class="sitemap icon"></i> Components
      </h4>
      </div>
      <div class="sixteen wide column">
        <div class="ui four stackable cards">
          <component-card v-for="c in components" :name="c.name" :description="c.description" :state="c.state" :fs="c.fs" :priority="c.priority" :timer="c.timer" :period="c.period" :suspended="c.suspended"></component-card>
        </div>
      </div>
    </div>
  </div>

</body>

</html>